{% extends 'base.html' %}

{% block start %}

<div class="main-content">


	<div class="breadcrumb-wrapper">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Page Name</a></li>
					<li class="breadcrumb-item"><a href="#">Categories</a></li>
					<li class="breadcrumb-item active" aria-current="page">Post Name</li>
				</ol>
				<!-- End of .breadcrumb -->
			</nav>
		</div>
		<!-- End of .container -->
	</div>
	<!-- End of .breadcrumb-container -->

	<!-- Banner starts -->
	<section class="banner banner__single-post banner__standard">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="post-title-wrapper">
						<div class="btn-group">
							<a href="#" class="cat-btn bg-color-blue-one">{{news.category}}</a>
						</div>

						<h2 class="m-t-xs-20 m-b-xs-0 axil-post-title hover-line">{{ news.title }}
						</h2>
						<div class="post-metas banner-post-metas m-t-xs-20">
							<ul class="list-inline">
								<li><a href="#" class="post-author post-author-with-img"><img
											src="assets/images/author/01.png" alt="author">{{news.author}}</a></li>
								<li><a href="#"><i class="feather icon-activity"></i>5k Views</a></li>
								<li><a href="#"><i class="feather icon-share-2"></i>230 Shares</a></li>
							</ul>
						</div>
						<!-- End of .post-metas -->
					</div>
					<!-- End of .post-title-wrapper -->
				</div>
				<!-- End of .col-lg-6 -->

				<div class="col-lg-6">
					<img src={{news.image.url}} alt="" class="img-fluid" width="600" height="600">
				</div>
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .banner -->

	<!-- post-single-wrapper starts -->
	<div class="post-single-wrapper p-t-xs-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<main class="site-main">
						<article class="post-details">
							<div class="single-blog-wrapper">
								<div class="post-details__social-share mt-2">
									<ul class="social-share social-share__with-bg social-share__vertical">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-behance"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
									<!-- End of .social-share__no-bg -->
								</div>
								<!-- End of .social-share -->

								<p>{{ news.description|safe }}</p>


								<blockquote>
									<p>
										If you’ve been waiting for an invitation, this calligraphy is it.
										Commissioned
										by
										Facebook, this is a hand-lettered design for a poster. Quote is Facebook
										Building 8
										VP’s
										Regina Dugan—and mine.
									</p>
								</blockquote>
						</article>
						<!-- End of .post-details -->

						<div class="post-shares m-t-xs-60">
							<div class="title">SHARE:</div>
							<ul class="social-share social-share__rectangular">
								<li><a href="#" class="btn bg-color-twitch"><i class="fab fa-twitch"></i>
										1K+</a>
								</li>
								<li><a href="#" class="btn bg-color-facebook"><i class="fab fa-facebook-f"></i>
										1K+</a>
								</li>
								<li><a href="#" class="btn bg-color-twitter"><i class="fab fa-twitter"></i>1000+</a>
								</li>
								<li><a href="#" class="btn bg-color-linkedin"><i class="fab fa-linkedin-in"></i>1M+</a>
								</li>
							</ul>
						</div>
						<!-- End of .post-shares -->

						<hr class="m-t-xs-5 m-b-xs-40">

						

						<div class="comment-box">
							<h2>Leave A Reply</h2>
							<!-- <p>Your email address will not be published.<span class="primary-color">*</span></p> -->
						</div>
						<!-- End of .comment-box -->

						<form method="POST" action="{% url 'feedback' %}" class="comment-form row m-b-xs-60">
							{% csrf_token %}
							<div class="col-12">
								<div class="form-group comment-message-field">
									<label for="comment-message">Comment</label>
									<textarea name="comment_message" id="comment-message" rows="6" required></textarea>
								</div>
							</div>
						
							<div class="col-md-4">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" required>
								</div>
							</div>
						
							<div class="col-md-4">
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" required>
								</div>
							</div>
						
							<div class="col-md-4">
								<div class="form-group">
									<label for="mobile_number">Mobile Number</label>
									<input type="text" name="mobile_number" id="mobile_number" required>
								</div>
							</div>
						
							<div class="col-12">
								<button class="btn btn-primary w-100 text-uppercase" type="submit" style="border-radius: 5px;">POST FEEBACK</button>
							</div>
						</form>

						<div class="post-navigation-wrapper row  m-b-xs-60">
							<div class="post-navigation col-lg-6">
								<div class="post-nav-content">
									<a href="#" class="prev-post">
										<i class="feather icon-chevron-left"></i>Previous Post
									</a>
									<h3><a href="#">Tips For Choosing The Perfect Gloss For Your Lips</a></h3>
								</div>
							</div>
							<div class="post-navigation text-right col-lg-6">
								<div class="post-nav-content">
									<a href="#" class="next-post">
										Next Post<i class="feather icon-chevron-right"></i>
									</a>
									<h3><a href="#">Tips For Choosing The Perfect Gloss For Your Lips</a></h3>
								</div>
							</div>
						</div>
						<!-- End of .post-navigation -->
					</main>
					<!-- End of main -->
				</div>
				<!--End of .col-auto  -->
				<!-- Sidebar -->
				{% include 'sidebar.html' %}
				<!-- End of Sidebar .col-lg-4 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</div>
	<!-- End of .post-single-wrapper -->

	<section class="related-post p-b-xs-30">
		<div class="container">
			<div class="section-title m-b-xs-40">
				<h2 class="axil-title">Food &amp; Drink</h2>
				<a href="#" class="btn-link ml-auto">All FOOD &amp; DRINK</a>
			</div>
			<!-- End of .section-title -->

			<div class="grid-wrapper">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="content-block m-b-xs-30">
							<a href="post-format-standard.html">
								<img src="assets/images/related-post/related-post-1.jpg" alt="abstruct image"
									class="img-fluid">
								<div class="grad-overlay"></div>
							</a>
							<div class="media-caption">
								<div class="caption-content">
									<h3 class="axil-post-title hover-line hover-line"><a
											href="post-format-standard.html">Barbecue Party Tips For A Truly Amazing
											Event</a></h3>
									<div class="caption-meta">
										By <a href="#">Martin Lambert</a>
									</div>
								</div>
								<!-- End of .content-inner -->
							</div>
						</div>
						<!-- End of .content-block -->
					</div>
					<!-- End of .col-lg-3 -->
					<div class="col-lg-3 col-md-4">
						<div class="content-block m-b-xs-30">
							<a href="post-format-standard.html">
								<img src="assets/images/related-post/related-post-2.jpg" alt="abstruct image"
									class="img-fluid">
								<div class="grad-overlay"></div>
							</a>
							<div class="media-caption">
								<div class="caption-content">
									<h3 class="axil-post-title hover-line hover-line"><a
											href="post-format-standard.html">Grilling Tips For The Dog Days Of
											Summer</a></h3>
									<div class="caption-meta">
										By <a href="#">Angu Tamba

										</a>
									</div>
								</div>
								<!-- End of .content-inner -->
							</div>
						</div>
						<!-- End of .content-block -->
					</div>
					<!-- End of .col-lg-3 -->
					<div class="col-lg-3 col-md-4">
						<div class="content-block m-b-xs-30">
							<a href="post-format-standard.html">
								<img src="assets/images/related-post/related-post-3.jpg" alt="abstruct image"
									class="img-fluid">
								<div class="grad-overlay"></div>
							</a>
							<div class="media-caption">
								<div class="caption-content">
									<h3 class="axil-post-title hover-line hover-line"><a
											href="post-format-standard.html">Smarter Food Choices 101 Tips For Busy
											Women</a></h3>
									<div class="caption-meta">
										By <a href="#">Naseema Al Morad</a>
									</div>
								</div>
								<!-- End of .content-inner -->
							</div>
						</div>
						<!-- End of .content-block -->
					</div>
					<!-- End of .col-lg-3 -->
					<div class="col-lg-3 col-md-4">
						<div class="content-block m-b-xs-30">
							<a href="post-format-standard.html">
								<img src="assets/images/related-post/related-post-4.jpg" alt="abstruct image"
									class="img-fluid">
								<div class="grad-overlay"></div>
							</a>
							<div class="media-caption">
								<div class="caption-content">
									<h3 class="axil-post-title hover-line hover-line"><a
											href="post-format-standard.html">Deep Fryer Pieces Of Wisdom</a></h3>
									<div class="caption-meta">
										By <a href="#">Nayah Tantoh</a>
									</div>
								</div>
								<!-- End of .content-inner -->
							</div>
						</div>
						<!-- End of .content-block -->
					</div>
					<!-- End of .col-lg-3 -->
				</div>
				<!-- End of .row -->
			</div>
			<!-- End of .grid-wrapper -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .related-post -->



</div>

{% endblock %}